*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#navbar{
    width: 100%;
    height: 100px;
    background-color:  rgb(51,52,54);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top:0;
}
#left{
    width: 10%;
    height: 100%;
    /* border: 2px solid red; */
}
#image{
    width: 85%;
    height: 80px;
    margin: auto;
    margin-top: 5px;
    /* border: 1px solid green; */
}
#image>img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#right{
    width: 85%;
    height: 100%;
    /* border: 2px solid red; */
}
#right_up{
    width: 100%;
    height: 40px;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px ;
}
#right_up>p{
    margin-left: 20px;
}
#right_up>span{
    width: 45%;
    display: flex;
   justify-content: space-around;
}
#right_down{
    width: 100%;
    height: 60px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
}
.category{
    width: 12%;
    height: 100%;
    color: white;
    /* border: 1px solid white; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    cursor: pointer;
    
}
.category_inactive{
    width: 12%;
    height: 100%;
    color: black;
    background-color: white;
    /* border: 1px solid white; */
    display: flex;
    cursor: pointer;
    /* justify-content: space-between; */
    align-items: center;
}

.category>i{
    padding-top: 8px;
   
}
/* .category>i:hover{
    transform: rotate(180deg);
   
} */

/* #category:hover{
    cursor: pointer;
    background-color: white;
    color: black;
} */
#brands{
    width: 10%;
    height: 100%;
    color: white;
    /* border: 1px solid white; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
#brands>i{
    padding-top: 7px;
    padding-left:10px;
}
#search{
    width: 60%;
    height: 100%;
    /* border: 1px solid white; */
    align-items: center;
    border-radius: 5px;
    /* color:white */
}
#search>div{
    width: 90%;
    height:40px;
    background-color: rgb(74,74,74);
    border-radius: 10px;
    position: relative;
    margin: auto;
    top: 7px;
    color: rgb(157,157,157);
}
#search>div>i{
    position: absolute;
    top: 15px;
    left: 20px;
}
#search>div>input{
    width: 400px;
    margin: auto;
    margin: 13px 45px;
    background-color: rgb(74,74,74);
    border: none;
    outline: none;
}
#profile{
    width: 15%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
}
#profile>div{
    width: 40%;
    height: 100%;
    /* border: 1px solid white; */
    text-align: center;
    padding-top: 15px;
    color: white;
}